@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Smooch&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    background-color: #ffc400;
    font-weight: bold;
    box-shadow: 0px 2px 2px 0px #ffffff;
}

header img {
    width: 120px;
    height: auto;
    padding: 0; 
}   

.cabecalho {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.5s ease;
}

.cabecalho::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #ffff80;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}

.cabecalho:hover {
    color: #ffff80;
}


.cabecalho:hover::after {
    transform: scaleX(1);
}

.cabecalho::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background-color: #ffff80;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
    z-index: -1;
    border-radius: 5px;
}

.cabecalho:hover::before {
    width: 100%;
    height: 100%;
}

body { 
    font-family: 'Montserrat', sans-serif; 
}
/* Container do Design Gerado */
.escala-container-wrapper {
    overflow: auto;
    padding: 20px;
}

.background-escala {
    background-image: url("../background.png");
    background-size: cover;
    width: 2160px;
    height: 2700px;
    position: relative;
    overflow: hidden;

    zoom: 0.4;
}

.background-escala.sem-zoom {
    zoom: 1;
}

.header-escala {
    margin-top: 300px;
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.grid-escala {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    margin: 140px;
}

.item-escala {
    display: flex;
    align-items: center;
    width: 100%;
}

.data-box {
    width: 205.4px;
    height: 102px;
    background-color: #190c06;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.data-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: white;
}

.nomes-box {
    flex-grow: 1;
    background-color: white;
    margin-left: 20px;
    border-radius: 5px;
    height: 102px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    max-width: 700px;
}

.nomes-box p {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    color: #190c06;
    white-space: nowrap;
    overflow: hidden;
}

.nomes-escala[contenteditable="true"] {
    cursor: text;
    outline: none;
}

.nomes-escala[contenteditable="true"]:focus {
    background-color: #fff4c2;
    border-radius: 5px;
}

/* Container para empilhar Data e Sigla */
.data-container {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.sigla-dia {
    width: 150px;
    height: 66px;
    background-color: #1e5c2d;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sigla-dia p {
    font-size: 56px;
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
}

.titulos {
    border: none;
}

.titulos1 {
    border: none;
    border-radius: 10px 0px 0px 0px;
}

.titulos4 {
    border: none;
    border-radius: 0px 10px 0px 0px;
}

button {
    margin-top: 10px;
    border: none;
    background-color: aqua;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}